.homeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.homeContainer img{
  width: 300px;
  margin: 0;
  padding-left: 50px;
}


.homeContainer h1, h2 {
  color: #8be9fd;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  /* padding: 8px; */
  margin: 0;
}
.homeContainer div {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  margin: 0px;
  
}

.homeContainer a {
  text-decoration: none;
}

.homeContainer section {
  border: solid 4px;
  border-color: #bd93f9;
  border-radius: 5px;
  background-color: #282a36;
}

.homeContainer h3 {
  /* background: white; */
  color: red;
  padding: 70px;
  padding-bottom: 10px;
  position: absolute;
  font-size: 64px;
  font-weight: bold;
  transform: rotate(-45deg);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.homeContainer h2 {
  /* padding-top: 25px; */
  font-size: 32px;
}

.homeContainer h1 {
  /* padding-top: 25px; */
  padding: 0;
  font-size: 42px;
}








