.navBar {
  position: fixed;
  top: 0;
  display: flex;
  background-color: #282a36;
  min-height: 5%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

header > nav {
  width: 100vw;
}

.navBar  a {
  color: #8be9fd;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
}

div .git_linkedin {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  margin-right: auto;
}




