.listContainer {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
  
}

.listContainer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.listContainer div {
  margin: 10px;
  border: solid 4px;
  border-color: #bd93f9;
  border-radius: 5px;
  
}

.listContainer h1 {
  margin: 0;
  /* padding-bottom: 10px; */
}