.listContainer {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.listContainer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.listContainer div {
  margin: 10px;
  border: solid;
}