.container {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.container img {
  height: 250px;
  object-fit: contain;
  margin: 0;
}

