.listContainer {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.listContainer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}